.single-artist-container {
  display: grid;
  grid-gap: 1rem;
  grid-template-areas:
    "single-artist-bio single-artist-bio single-artist-tracks"
    "single-artist-comments single-artist-comments single-artist-comments"
    "single-artist-albums single-artist-albums single-artist-albums";
  margin: 5% 10% 0 10%;
  justify-content: center;
}

.single-artist-bio {
  grid-area: single-artist-bio;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.single-artist-bio h1 {
  margin: 0;
}

.single-artist-bio img {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  justify-content: center;
  margin: 1rem;
}

.single-artist-tracks {
  grid-area: single-artist-tracks;
  margin-right: auto;
}

.single-artist-albums {
  grid-area: single-artist-albums;
}

.single-artist-comments {
  grid-area: single-artist-comments;
}

i:hover {
  color: grey;
}

.icon {
  color: black;
}

@media (max-width: 500px) {
  .single-artist-container {
    grid-template-areas:
      "single-artist-bio"
      "single-artist-tracks"
      " single-artist-comments"
      " single-artist-albums";
  }
  .single-artist-bio {
    margin-left: 0;
  }
  .single-artist-bio img {
    width: 250px;
    height: 250px;
  }
  .single-artist-bio button,
  h1 {
    font-size: 1rem;
  }
  .single-artist-tracks {
    margin-right: 0;
  }
}

@media (min-width: 501px) and (max-width: 1024px) {
  .single-artist-container {
    grid-template-areas:
      "single-artist-bio single-artist-bio"
      "single-artist-tracks single-artist-tracks"
      " single-artist-comments single-artist-comments"
      " single-artist-albums single-artist-albums";
  }
  .single-artist-tracks {
    grid-area: single-artist-tracks;
    margin: 0;
  }
}
