.single-artist-container {
  display: grid;
  grid-gap: 1rem;
  grid-template-areas:
    "single-artist-bio single-artist-tracks"
    "single-artist-comments single-artist-comments"
    "single-artist-albums single-artist-albums";
  margin: 5% 10% 0 10%;
}

.single-artist-bio {
  grid-area: single-artist-bio;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
}

.single-artist-bio img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.single-artist-tracks {
  grid-area: single-artist-tracks;
  margin-right: auto;
  margin-top: 8%;
}

.single-artist-albums {
  grid-area: single-artist-albums;
}

.single-artist-comments {
  grid-area: single-artist-comments;
}
