.single-artist-container {
  display: grid;
  grid-gap: 1rem;
  grid-template-areas:
    "single-artist-bio single-artist-bio single-artist-tracks"
    " single-artist-comments single-artist-comments single-artist-comments"
    "single-artist-albums single-artist-albums single-artist-albums";
}

.single-artist-bio {
  grid-area: single-artist-bio;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.single-artist-tracks {
  grid-area: single-artist-tracks;
}

.single-artist-albums {
  grid-area: single-artist-albums;
}

.single-artist-comments {
  grid-area: single-artist-comments;
}
