body {
  text-align: justify;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h5 {
  font-family: "Abril Fatface", cursive;
}

h4 {
  font-family: "Kaushan Script", cursive;
}

p {
  font-family: "Cormorant Garamond", serif;
}
