.album-track-container {
  display: grid;
  grid-gap: 1rem;
  grid-template-areas: "single-album-list";
  justify-content: center;
}

.single-album-list {
  grid-area: single-album-list;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.single-album-list h1 {
  color: grey;
  font-size: 1rem;
}
