.home-container {
  display: grid;
  grid-gap: 1rem;
  grid-template-areas:
    "home-chart-artists home-chart-artists"
    "home-search home-search"
    "home-content home-content";
  justify-content: center;
  margin: 0% 20% 0% 20%;
  text-align: center;
}

.home-chart-artists {
  grid-area: home-chart-artists;
}

.home-search {
  grid-area: home-search;
}

.home-content {
  grid-area: home-content;
}

.home-content h1 {
  color: grey;
  font-size: 1rem;
}

.home-content img {
  width: 20%;
  height: 20%;
  border-radius: 50%;
}

.home-content img:hover {
  opacity: 0.5;
}
