.artist-search-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10% 0 10%;
}

.artist-search-display h1 {
  color: grey;
  font-size: 1rem;
}

.artist-search-display img {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  margin-top: 1rem;
}

.artist-search-display img:hover {
  opacity: 0.5;
}
