.albums-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.albums-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.albums-list img {
  width: 200px;
  height: 200px;
}

.albums-list h4 {
  padding: 0rem 1rem 0rem 1rem;
}
