.single-artist-container {
  display: grid;
  grid-gap: 1rem;
  grid-template-areas:
    "single-artist-head single-artist-tracks"
    "single-artist-albums single-artist-albums";
  justify-content: center;
  align-items: center;
  text-align: center;
}

.single-artist-head {
  grid-area: single-artist-head;
  margin-left: auto;
}

.single-artist-head img {
  border-radius: 50%;
  width: 400px;
  height: 400px;
}

.single-artist-tracks {
  grid-area: single-artist-tracks;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: auto;
}

.single-artist-albums {
  grid-area: single-artist-albums;
}
