/* .tracks-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.tracks-list li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tracks-list h4 {
  margin: 0.5rem;
}

.tracks-list h3 {
  color: grey;
} */
