.track-item-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  margin: 0% 5% 0% 5%;
}

.track-item-container li {
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 1rem;
}

iframe {
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 4px 4px 14px #000;
  -webkit-box-shadow: 4px 4px 14px #000;
  box-shadow: 4px 4px 14px #000;
  margin: 0;
  padding: 0.5rem;
  border: none;
  width: 200px;
  height: 100px;
}

.track-item-container h4 {
  margin: 1rem;
}

.track-item-container h2 {
  margin: 0;
}

.track-item-container h3 {
  color: gray;
  margin: 1rem;
}

@media (max-width: 500px) {
  .track-item-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .track-item-container li {
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
  }
  .track-item-container h2,
  h3,
  h4 {
    font-size: 1rem;
  }
}

@media (min-width: 501px) and (max-width: 1024px) {
  .track-item-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
