.track-item-container li {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
}

.track-item-container h4 {
  margin: 0.5rem;
}

.track-item-container h2 {
  margin: 0;
}

.track-item-container h3 {
  color: gray;
}

@media (max-width: 500px) {
  .track-item-container h2,
  h3,
  h4 {
    font-size: 1rem;
  }
}
