@mixin flexPosition($align-items, $flex-direction) {
  display: flex;
  flex-direction: $flex-direction;
  align-items: $align-items;
}

@mixin gridContainer($margin) {
  display: grid;
  grid-gap: 1rem;
  margin: $margin;
}
