.search-form {
  display: flex;
  justify-content: center;
  margin: 0 10% 0 10%;
  input {
    border: none;
    text-align: center;
  }
  button {
    padding: 0;
    border: 0;
  }
}

@media (max-width: 500px) {
  .search-form {
    margin-top: 5%;
  }
}
